/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #ddd;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #3445b4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #2196f3;
}
body:not(.modal-open) {
	padding-right: 0px !important;
}

.global_color {
	background: #3445b4 !important;
}

.t-disabled {
	color: grey !important;
	pointer-events: none;
}

.t-12 {
	font-size: 12px !important;
}

.paginate_track .page-item.active .page-link {
	border-color: #3445b4 !important;
	background-color: #3445b4 !important;
	color: white !important;
}

.paginate_track li a {
	text-decoration: none;
	color: #495057 !important;
}

.ms_track .page-item.active .page-link {
	border-color: #495057 !important;
	background-color: #495057 !important;
	color: white !important;
}

.ms_track li a {
	text-decoration: none;
	color: #495057 !important;
}

.oy-hidden {
	overflow-y: hidden !important;
}

/* .modal-full {
	min-width: 100%;
	margin: 0;
} */

.w-1080 {
	width: 1091px !important;
}

.w-1023 {
	width: 1091px !important;
}

.w-1319 {
	min-width: 1319px !important;
}

#TrackModal {
	overflow-y: hidden !important;
}

.modal-full .modal-content {
	min-height: 100vh;
}

.mg-top-0 {
	margin-top: 0 !important;
}

.mg-top-2 {
	margin-top: 2px !important;
}

.mg-top-25 {
	margin-top: 25px !important;
}

.mg-top-75 {
	margin-top: 75px !important;
}

.mg-top-30 {
	margin-top: 30px !important;
}

.mg-top-60 {
	margin-top: 60px !important;
}

.mg-top-70 {
	margin-top: 70px !important;
}

.mg-top-80 {
	margin-top: 80px !important;
}

.mg-top-100 {
	margin-top: 100px !important;
}

.bg {
	background: url("../globetower.jpg") no-repeat;
	width: 100%;
	height: 100vh;
	background-size: cover;
}

.form-container {
	border: 1px solid #fff;
	border-radius: 25px;
	padding: 30px 50px;
	margin-top: 15vh;
	background-color: white;

	-webkit-box-shadow: -1px 4px 15px 11px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 4px 15px 11px rgba(0, 0, 0, 0.75);
	box-shadow: -1px 4px 15px 11px rgba(0, 0, 0, 0.75);
}

.img-container {
	/*text-align: center;*/
	display: block;
}

@font-face {
	font-family: myRoadRage;
	src: url("../Road_Rage.otf");
}

.roadrage {
	font-family: myRoadRage;
}

.icon_size {
	height: 20px;
	width: 20px;
}

.table {
	table-layout: fixed;
}

.tdlimit {
	white-space: nowrap;
	/*background-color: lightblue;*/
	overflow: hidden;
	/*overflow: auto;*/
	/*word-wrap: break-word;*/
}

.tdexpand {
	white-space: nowrap;
	/*background-color: lightblue;*/
	/*overflow: hidden;*/
	height: 10px;
	/*word-wrap: break-word;*/
	overflow-x: scroll;
}

.ui-tooltip {
	opacity: 1;
}

.form-control-xs {
	height: calc(1.1em + 0.5rem + 2px) !important;
	padding: 0.125rem 0.25rem !important;
	font-size: 0.875rem !important;
	line-height: 1 !important;
	border-radius: 0.2rem !important;

	/*  padding-top: calc(0.25rem + 1px);
	  padding-bottom: calc(0.25rem + 1px);
	  font-size: 0.875rem;
	  line-height: 1.5;*/
}

.table-xs th,
.table-xs td {
	padding: 0.05rem 0.24rem 0.05rem 0.24rem !important;
}

.table-xxs th,
.table-xxs td {
	font-size: 80%;
	padding: 0.05rem 0.2rem 0.05rem 0.2rem !important;
	/*padding: 0.06rem !important;*/
}
.force-fit {
	display: block;
	overflow-x: auto;
	width: 100% !important;
}
.table-xxxs th,
.table-xxxs td {
	font-size: 75%;
	padding: 0.05rem 0.2rem 0.05rem 0.2rem !important;
	/*padding: 0.06rem !important;*/
}

.login-h-595 {
	height: 595px;
	max-width: 1351px !important;
}

.login-hw {
	padding-bottom: 2.5rem; /* Footer height */
}

footer {
	bottom: 0;
	width: 100%;
}

.min-314 {
	min-width: 314px;
}

.cc {
	height: 200px;
	position: relative;
	border: 3px solid green;
}

.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.slider-h-598 {
	height: 100vh !important;
}

.carousel-indicators li {
	border: 1px solid black !important;
}

.login-h-160 {
	height: 160px !important;
}

.login-h-50 {
	height: 80px !important;
}

.mg-top-100 {
	margin-top: 100px !important;
}

.nav-menu li.nav-item.active a,
.nav-menu li.nav-item a.nav-link.active {
	text-decoration: none;
	background-color: white !important;
	color: #3445b4 !important;
	border-radius: 0 !important;
	/* border-bottom: 3px solid #495057 !important; */
}

ul.nav-menu a:hover,
.user-menu a:hover {
	text-decoration: none;
	background-color: #2196f3 !important;
	/* border-bottom: 1px solid #eeeeee !important; */
	color: black !important;
	-o-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.dash-h-460 {
	height: 460px !important;
}

.u-h-521 {
	min-height: 521px;
}

.u-h-400 {
	min-height: 400px;
	height: 400px;
}

.fs-9 {
	font-size: 9em;
}

.h-icon-160 {
	min-height: 160px !important;
}

.i-font-5\.5 {
	font-size: 5.5em !important;
}

.mg-top-10 {
	margin-top: 10px !important;
}

.mg-top-5 {
	margin-top: 5px !important;
}

.files input {
	outline: 2px dashed #007bff;
	outline-offset: -10px;
	-webkit-transition: outline-offset 0.15s ease-in-out,
		background-color 0.15s linear;
	transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
	padding: 102px 0 85px 35%;
	/*text-align: center !important;*/
	margin: 0;
	width: 100% !important;
}

.files input:focus {
	outline: 2px dashed #92b0b3;
	outline-offset: -10px;
	-webkit-transition: outline-offset 0.15s ease-in-out,
		background-color 0.15s linear;
	transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
	border: 1px solid #92b0b3;
}

.files {
	position: relative;
}

.files:after {
	pointer-events: none;
	position: absolute;
	top: 60px;
	left: 0;
	width: 50px;
	right: 0;
	height: 106px;
	content: "";
	background-image: url("../xlsx_icon.svg");
	display: block;
	margin: 0 auto;
	background-size: 100%;
	background-repeat: no-repeat;
}

.color input {
	background-color: #f1f1f1;
}

.files:before {
	position: absolute;
	bottom: 10px;
	left: 0;
	pointer-events: none;
	width: 100%;
	right: 0;
	height: 40px;
	content: " or drag it here. ";
	display: block;
	margin: 0 auto;
	color: #2ea591;
	font-weight: 600;
	text-transform: capitalize;
	text-align: center;
}

.file-center {
	margin: auto;
	width: 60%;
	padding: 10px;
}

.fa option {
	font-weight: 100;
}

.db-select {
	height: 38px;
}

.mg-top-16 {
	margin-top: 16px !important;
}

.progress-upload {
	display: none;
	position: relative;
	background-color: #ddd;
	border: 0.8px solid black;
	border-radius: 4px;
}

.progress-bar-upload {
	background-color: #3445b4;
	width: 0;
	height: 30px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.percentUpload {
	position: absolute;
	display: inline-block;
	color: #fff;
	font-weight: bold;
	top: 40%;
	left: 50%;
	margin-top: -9px;
	margin-left: -20px;
	-webkit-border-radius: 4px;
}

.-projects {
	background-color: green;
	width: 0;
	height: 0 auto;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	text-align: center;
	color: white !important;
}

.percent,
.percent_nom,
.percent_awe,
.percent_pmo,
.percent_survey,
.percent_ibs,
.percent_tssr {
	position: absolute;
	display: inline-block;
	color: #fff;
	font-weight: bold;
	top: 50%;
	left: 50%;
	margin-top: -9px;
	margin-left: -20px;
	-webkit-border-radius: 4px;
}

#progressDivId,
#progressNomId,
#progressAweId,
#progressPmoId,
#progresSurveyId,
#progressIbsId,
#progressTssrId {
	height: 30px;
	border: none !important;
	/*display: none;*/
}

.h-467 {
	min-height: 467px !important;
}

.h-503 {
	min-height: 503px;
}

.hm-450 {
	min-height: 450px;
}

.hm-520 {
	min-height: 520px;
}

.hm-410 {
	min-height: 410px;
}

.hm-406 {
	min-height: 406px;
}

.mg-top-5 {
	margin-top: 5px;
}

.imgUp {
	margin-bottom: 15px;
}

.kv-reqd {
	color: red;
	font-family: monospace;
	font-weight: normal;
}

.restrict {
	min-height: 600px !important;
}

.fs-3 {
	font-size: 3em;
}

.content {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.w-197 {
	width: 197px !important;
}

.w-155 {
	width: 155px !important;
}

.w-50 {
	width: 50% !important;
}

.h-519 {
	min-height: 519px !important;
}

.fs-35 {
	font-size: 3.5em;
}

.trackPills .nav-link.active,
.nav-pills .show > .nav-link .tracks {
	color: white !important;
	background-color: #3445b4 !important;
	border-radius: 0 !important;
	transition: 0.5s !important;
}

.h-31 {
	height: 31px;
}

.h-497 {
	height: 497px !important;
}

.MS-520 {
	height: 520px !important;
	min-height: 520px !important;
	overflow-y: auto;
	overflow-x: hidden;
}

.mg-left-5 {
	margin-left: 5px !important;
}

.mg-left-15 {
	margin-left: 15px !important;
}

.mg-left-3 {
	margin-left: 3px !important;
}

.w-date-125 {
	width: 125px !important;
}

.mh-400 {
	min-height: 400px;
}

.mg-left-13- {
	margin-left: -13px;
}

.mg-bot-10- {
	margin-bottom: -10px;
}

.mg-left-13 {
	margin-left: 13px;
}

.ms_lists tbody tr {
	cursor: pointer !important;
}

table.dataTable tbody tr.selected {
	color: white;
	background-color: #007bff;
}
table.dataTable tbody td {
	word-break: break-all;
	vertical-align: top;
}

#rre_tabs .nav-link:hover {
	background-color: #eeeeee;
	transition: 0.5s;
}

#rre_tabs .nav-link.active {
	color: #fff !important;
	background-color: #3445b4 !important;
	transition: 0.5s;
}

#rre_tabs a {
	color: #495057;
	text-decoration: none;
	background-color: transparent;
}

#trackTab .nav-link:hover {
	background-color: #eeeeee;
	border-color: #495057 #495057 #495057 !important;
	transition: 0.5s;
	border-radius: 0;
}

#trackTab .nav-link.active {
	color: #fff !important;
	background-color: #3445b4 !important;
	border-color: #495057 #495057 #495057 !important;
	transition: 0.5s;
	border-radius: 0;
}

#trackTab a {
	color: #495057;
	text-decoration: none;
	border-bottom-color: black;
	background-color: transparent;
}

#trackTab thead tr th {
	font-size: 11px !important;
}

.pad-lef-right-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.pad-right-0 {
	padding-right: 0 !important;
}

.pad-left-0 {
	padding-left: 0 !important;
}

.ellipsis {
	text-overflow: ellipsis;
}

.h-451 {
	min-height: 451px !important;
}

.pad-00 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.pad-33 {
	padding-left: 3px !important;
	padding-right: 3px !important;
}

.br-none {
	border-radius: 0 !important;
}

.overflowMap {
	overflow-x: auto;
	height: 426px;
	min-height: 426px;
}

.overflowMap1 {
	overflow-x: auto;
	height: 385px;
	min-height: 385px;
}

.inventory_list {
	overflow-x: auto;
	height: 404px;
	min-height: 404px;
}

.inventory_list_admin {
	overflow-x: auto;
	min-height: 431px;
}

.overflowMap2 {
	overflow-x: auto;
	height: 449px;
}

.mg-left-24- {
	margin-left: -24px;
}

.pad-top-3 {
	padding-top: 3px !important;
}

#tbl_excel,
#tbl_requests_lists
	.custom-control-input:checked
	~ .custom-control-label::before {
	color: #fff;
	border-color: #28a745;
	background-color: #28a745;
}

#kml-tab .nav-link.active {
	color: white !important;
	background-color: #495057 !important;
	border-radius: 0 !important;
	transition: 0.5s !important;
}

#table_selected .custom-control-input:checked ~ .custom-control-label::before {
	color: #fff;
	border-color: #dc3545;
	background-color: #dc3545;
}

#table_kml .custom-control-input:checked ~ .custom-control-label::before {
	color: #fff;
	border-color: #ffc107;
	background-color: #ffc107;
}

.w-2000 {
	width: 2000px !important;
}

.h-145 {
	height: 145px;
}

.f-23 {
	font-size: 23px !important;
}

.f-14 {
	font-size: 14px !important;
}

.mg-top-19- {
	margin-top: -19px !important;
}

.mg-top-80 {
	margin-top: 80% !important;
}

.mg-top-15-- {
	margin-top: 15% !important;
}

.h-10 {
	height: 10px !important;
}

.h-130 {
	height: 130px !important;
}

.mg-top-14 {
	margin-top: 14px !important;
}
.mg-top-45 {
	margin-top: 45px !important;
}

.icon-shape {
	padding: 12px;
	text-align: center;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.pad-5 {
	padding: 5px !important;
}

.u-red {
	background-color: #e53935 !important;
	color: white !important;
}

.u-pink {
	background-color: #d81b60 !important;
	color: white !important;
}

.border-purple {
	border: 1px solid #8e24aa !important;
}

.u-purple {
	background-color: #8e24aa !important;
	color: white !important;
}

.u-blue {
	background-color: #3949ab !important;
	color: white !important;
}

.u-yellow {
	background-color: #fbc02d !important;
	color: white !important;
}

.u-lightpink {
	background-color: #e36387 !important;
	color: white !important;
}

.u-lightgreen {
	background-color: #c4fb6d !important;
}

.border-teal {
	border: 1px solid #00897b !important;
}

.u-teal {
	background-color: #00897b !important;
	color: white !important;
}

.border-urange {
	border: 1px solid #fb8c00 !important;
}

.u-orange {
	background-color: #fb8c00 !important;
	color: white !important;
}

.u-pink {
	background-color: #e36387 !important;
	color: white !important;
}

.border-pink {
	border: 1px solid #e36387 !important;
}

.border-brown {
	border: 1px solid #6d4c41 !important;
}

.u-brown {
	background-color: #6d4c41 !important;
	color: white !important;
}

.u-grey {
	background-color: #757575 !important;
	color: white !important;
}

.u-purple {
	background-color: #3e206d !important;
	color: white !important;
}
#main_map {
	height: 284px !important;
	min-height: 284px !important;
}

.mg-bot-10 {
	margin-bottom: 10px !important;
}

.mg-top-135 {
	margin-top: 135px !important;
}

.mg-top-27 {
	margin-top: 27px !important;
}

.h-511 {
	height: 82vh;
}

.h-142 {
	max-height: 142px;
}

.pad-left-rem {
	padding-left: 2.5rem !important;
}

.prog-h-0 {
	height: auto !important;
}

.my-legend .legend-title {
	text-align: left;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 90%;
}
.my-legend .legend-scale ul {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	float: left;
	list-style: none;
}
.my-legend .legend-scale ul li {
	font-size: 80%;
	list-style: none;
	margin-left: 0;
	line-height: 18px;
	margin-bottom: 2px;
	display: inline-flex;
	padding-right: 15px;
}
.my-legend ul.legend-labels li span {
	display: block;
	float: left;
	height: 16px;
	width: 30px;
	margin-right: 5px;
	margin-left: 0;
	border: 1px solid #999;
}
.my-legend .legend-source {
	font-size: 70%;
	color: #999;
	clear: both;
}
.my-legend a {
	color: #777;
}

.ms-h-366 {
	height: 366px;
	overflow: auto;
}

.dropdown-menu {
	z-index: 5000 !important;
}

.t-dash-cards {
	color: #0056b3 !important;
}

.t-truncate {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.has-search .form-control {
	padding-left: 2.375rem;
}

.has-search .form-control-feedback {
	position: absolute;
	z-index: 2;
	display: block;
	width: 2.375rem;
	height: 2.375rem;
	line-height: 3.375rem;
	text-align: center;
	pointer-events: none;
	color: #aaa;
	font-size: 21px;
}

.form-control-filess {
	position: absolute;
	z-index: 2;
	display: block;
	width: 2.375rem;
	height: 2.375rem;
	line-height: 2.2rem;
	text-align: center;
	pointer-events: none;
	color: #aaa;
	font-size: 21px;
	margin-top: 6px;
}

#return-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	background-color: #3445b4;
	width: 50px;
	height: 50px;
	text-decoration: none;
	-webkit-border-radius: 35px;
	-moz-border-radius: 35px;
	border-radius: 35px;
	display: none;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	z-index: 1;
}
#return-to-top i {
	color: #fff;
	margin: 0;
	position: relative;
	left: 16px;
	top: 13px;
	font-size: 19px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.no-js #loader {
	display: none;
}
.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("../icons/Preloader_11.gif") center no-repeat #fff;
}

.f-2_5 {
	font-size: 2em !important;
}

.table tr {
	cursor: pointer;
}

.hiddenRow {
	padding: 0 4px !important;
	background-color: #eeeeee;
	font-size: 13px;
}

.img-con {
	position: relative;
}

.imagePreview {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: 0.5s ease;
	backface-visibility: hidden;
}

.img-middle {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.img-con:hover .imagePreview {
	opacity: 0.3;
}

.img-con:hover .img-middle {
	opacity: 1;
}

.list-padding {
	padding: 5px !important;
}

.folder-view:hover {
	background: #3445b4 !important;
	color: white !important;
	cursor: pointer;
	-o-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.folder-view {
	background-color: #fbc02d !important;
	cursor: pointer;
}

/*table.dataTable thead {background-color:blue}*/

.dropzone,
.dropzone * {
	box-sizing: border-box;
}
.dropzone {
	position: relative;
}
.dropzone .dz-preview {
	position: relative;
	display: inline-block;
	width: 120px;
	margin: 0.5em;
}
.dropzone .dz-preview .dz-progress {
	display: block;
	height: 15px;
	border: 1px solid #aaa;
}
.dropzone .dz-preview .dz-progress .dz-upload {
	display: block;
	height: 100%;
	width: 0;
	background: #79d70f !important;
}
.dropzone .dz-preview .dz-error-message {
	color: #ec524b !important;
	display: none;
}
.dropzone .dz-preview.dz-error .dz-error-message,
.dropzone .dz-preview.dz-error .dz-error-mark {
	display: block;
}
.dropzone .dz-preview.dz-success .dz-success-mark {
	display: block;
}
.dropzone .dz-preview .dz-error-mark,
.dropzone .dz-preview .dz-success-mark {
	position: absolute;
	display: none;
	left: 30px;
	top: 30px;
	width: 54px;
	height: 58px;
	left: 50%;
	margin-left: -27px;
}

.dz-remove {
	display: none !important;
}

.cellinputsize {
	height: calc(0.1em + 0.1rem + 18px) !important;
	padding: 0.1rem !important;
}
.btn-xxs {
	padding: 0 !important;
}
table.dataTable tbody td {
	vertical-align: middle !important;
}
.yadcf-filter-wrapper {
	display: block !important;
	margin: 0 !important;
}
.yadcf-filter-reset-button {
	display: block !important;
	border: 2px !important;
}

.accordion-kpi .card-header h2 {
	font-size: 1rem;
}
.accordion-kpi .card-header a {
	float: left;
	width: 100%;
	cursor: pointer;
}
.accordion-kpi .toggle {
	cursor: pointer;
	position: absolute;
	right: 0;
}
.accordion-kpi .toggle:hover {
	opacity: 1;
}
.accordion-kpi .card-body {
	padding: 0;
}
.accordion-kpi .list-group-item {
	border-radius: 0;
	border-width: 1px 0 1px 0;
	padding-left: 30px;
	background: #eeeeee;
	font-weight: 500;
}
.accordion-kpi .list-group-item:hover {
	background: #3445b4 !important;
	color: #fff !important;
}
.accordion-kpi .list-group-item:hover a {
	color: #fff !important;
}
.accordion-kpi .list-group-item:hover .badge {
	background: #fff;
	color: #3445b4;
}
.accordion-kpi .list-group-item a {
	color: #0056b3;
	display: block;
}
.accordion-kpi .list-group-item .badge {
	float: right;
}
.accordion-kpi .rotate {
	transform: rotate(180deg);
}
.dash-bread {
	position: relative;
}
button.rfe-dash {
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
}

.blue-btn {
	position: absolute;
	right: 1rem;
	top: 50%;
	transform: translateY(-50%);
	width: 30%;
	text-align: right;
}

.modal-full {
	min-width: 100%;
	margin: 0;
}

.modal-full .modal-content {
	min-height: 100vh;
}
td.nowrap {
	white-space: nowrap;
}

/* .dataTables_wrapper label, */
.dataTables_info,
.dataTables_paginate {
	font-size: 12px !important;
}
.dataTables_wrapper select,
.dataTables_wrapper input {
	/* font-size: 12px !important; */
	height: auto;
	line-height: normal;
}

.bb-th {
	width: 5%;
	text-align: center;
}

.bb-ff {
	width: 10%;
	text-align: center;
}

.bb-name {
	width: 20%;
	text-align: center;
}


@media only screen and (max-width: 950px) {
	.col-9 {
	  display: none;
	}

	.col-3 {
		flex: none !important;
		max-width: none !important;
		width: 100% !important;
	  }
  }

  .riggers-step-container{
	padding: 30px 0px;
	padding-bottom: 60px;
}

.wizard .nav-tabs {
    position: relative;
    margin-bottom: 0;
    border-bottom-color: transparent;
}

.wizard > div.wizard-inner {
    position: relative;
    margin-bottom: 30px;
    text-align: center;
    /* margin-left:80px; */
	right: 0;
	left: 0;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 55%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 15px;
    z-index: 1;
}

span.round-tab {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    z-index: 2;
    position: absolute;
    left: 28px;
    text-align: center;
    font-size: 16px;
    color: #0e214b;
    font-weight: 500;
    border: 1px solid #ddd;
}

.wizard li.active span.round-tab {
    background: #0db02b;
    color: #fff;
    border-color: #0db02b;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: red;
    transition: 0.1s ease-in-out;
}

.wizard .nav-tabs > li a {
    width: 30px;
    height: 30px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
    background-color: transparent;
    position: relative;
    top: 0;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 10px;
}

.step-head{
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}

.list-inline li{
    display: inline-block;
}


@media (max-width: 850px){
	.wizard .nav-tabs > li a i{
		display: none;
	}
}

.wizard .nav-tabs > li a i{
		display: none;
}

.sectorings .accicon {
  float: right;
  font-size: 20px;  
  width: 1.2em;
}
.sectorings{
  cursor: pointer;
  border-bottom: none;
}


.sectorings:not(.collapsed) .rotate-icon {
  transform: rotate(180deg);
}


.cap-audit::after{
	content: 'Capture' !important;
}

@media only screen and (min-width: 1200px) {
	.cs-w1 {
		width: 15em;
		background-color: pink;
	}
	.cs-w2 {
		width: 15em;
		background-color: pink;
	}
}

@media only screen and (min-width: 1600px) {
	.cs-w1 {
		width: 15em;
		background-color: pink;
	}
	.cs-w2 {
		width: 20em;
		background-color: pink;
	}
}

@media only screen and (min-width: 1920px) {
	.cs-w1 {
		width: 20em;
		background-color: pink;
	}
	.cs-w2 {
		width: 15em;
		background-color: pink;
	}
}

@media only screen and (min-width: 2560px) {
	.cs-w1 {
		width: 20em;
		background-color: pink;
	}
	.cs-w2 {
		width: 15em;
		background-color: pink;
	}
}

@media only screen and (min-width: 3440px) {
	.cs-w1 {
		width: 20em;
		background-color: pink;
	}
	.cs-w2 {
		width: 15em;
		background-color: pink;
	}
}

@media only screen and (min-width: 3840px) {
	.cs-w1 {
		width: 20em;
		background-color: pink;
	}
	.cs-w2 {
		width: 15em;
		background-color: pink;
	}
}