#sidebar.active {
	min-width: 80px;
	max-width: 80px;
	text-align: center;
}
#sidebar .sidebar-header strong {
	display: none;
}
#sidebar.active .sidebar-header h3 {
	display: none;
}
#sidebar.active .sidebar-header strong {
	display: block;
}
#sidebar ul li a {
	text-align: left;
}
#sidebar.active ul li a {
	padding: 20px 10px;
	text-align: center;
	font-size: 0.85em;
}
#sidebar.active ul li a i {
	margin-right: 0;
	display: block;
	font-size: 1.8em;
	margin-bottom: 5px;
}
#sidebar.active ul ul a {
	padding: 10px !important;
}
#sidebar.active .dropdown-toggle::after {
	top: auto;
	bottom: 10px;
	right: 50%;
	-webkit-transform: translateX(50%);
	-ms-transform: translateX(50%);
	transform: translateX(50%);
}
@media (max-width: 768px) {
	#sidebar.active {
		min-width: 80px;
		max-width: 80px;
		text-align: center;
		margin-left: -80px !important;
	}
	#sidebar {
		margin-left: 0;
	}
	#sidebar .sidebar-header strong {
		display: none;
	}
	#sidebar.active .sidebar-header h3 {
		display: none;
	}
	#sidebar.active .sidebar-header strong {
		display: block;
	}
	#sidebar.active ul li a {
		padding: 20px 10px;
		font-size: 0.85em;
	}
	#sidebar.active ul li a i {
		margin-right: 0;
		display: block;
		font-size: 1.8em;
		margin-bottom: 5px;
	}
	#sidebar.active ul ul a {
		padding: 10px !important;
	}
	.dropdown-toggle::after {
		top: auto;
		bottom: 10px;
		right: 50%;
		-webkit-transform: translateX(50%);
		-ms-transform: translateX(50%);
		transform: translateX(50%);
	}
}
